@include mq(small){
    
/*Home*/
.home{
  margin-top:4%;
    overflow-y:scroll;
    
    
}
.home h3{
    text-align:center;
}
.home p{
    font-size:1.3rem;
}

/*IMG on HOME*/
.church{
    width:100%;
}
}