@include mq(small){
    .main{
        width:100%;
        height:fit-content;
        display:flex;
        flex-direction: column;
      
       
        
    }
    .navbarMain{
        margin-top:10%;
      height:15%;
      width:100%;
      border:1px solid red;
      display:flex;
    
      

    }
    .words{
  
     
     flex-grow:1;
     display:flex;
     justify-content: center;
     border:1px solid black;
     height:50%;
     align-items: center;
     font-size:1.5rem;
     
    }
     a{
        text-decoration: none;
        width:100%;
        text-align: center;
        
    }
    .words:hover{
       
    }
    .books{
        border:1px solid black;
       
        flex-grow:1;
        display:flex;
        justify-content: center;
        height:50%;
        align-items: center;
        font-size:1.5rem;
    }
    .task{
        height:10%;
        flex-grow:1;
        display:flex;
        justify-content: center;
        height:50%;
        align-items: center;
        border:1px solid black;
        font-size:1.5rem;

    }
    .outletMain{
flex-grow:1;

    }
    .activeLinks{
        background-color:green;
        color:darkgoldenrod;
    }
}