.paint{
    box-sizing: border-box;
height:80vh;
    width:80vw;
    background-color: skyblue;
}
.dashboard{
    height:10%;
    width:100%;
    display:flex;
    
   
}
#canvasPaint{
    border:5px solid black;
    border-right:5px solid red;
    box-sizing: border-box;
    background-color: plum;

}
.palet{
    border:1px solid black;
    width:13%;
    height:50%;
    display:flex;
    flex-wrap:wrap;
}
.colorToPaint{
    width:15px;
    height:15px;
}
.sizeStroke{
    display:flex;
    height:50%;
}
.wskaznik{
    width:100px;
    justify-content: center;
    align-self: center;
    color:orange;
    display:flex;
    align-items: center;
    font-weight:bold;
    letter-spacing: 2px;
    text-align: center;
    
    background-color: green;
}