.paint{
    box-sizing: border-box;
height:80vh;
    width:80vw;
    background-color: skyblue;
}
.dashboard{
    height:10%;
    
   
}
#canvasPaint{
    border:5px solid black;
    border-right:5px solid red;
    box-sizing: border-box;
    background-color: plum;

}