$breakpoints:(
    small:(min-width:320px),
    lsmall:(min-width:512px),
    medium:(min-width:742px),
);
@mixin mq($breakpoint){
    $size:map-get($breakpoints,$breakpoint);
    @if($size){
        @media #{$size}{
            @content;
        }
    }

}