
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-record:before { content: '\e801'; } /* '' */
.icon-play:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-isight:before { content: '\f039'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-db-shape:before { content: '\f600'; } /* '' */
