* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 320px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerNight {
    -webkit-transition: background-color 3s;
    transition: background-color 3s;
    background-color: #1a1a1a;
    -webkit-transition: 3s;
    transition: 3s;
    color: white;
  }
  .containerDay {
    -webkit-transition: background-color 3s;
    transition: background-color 3s;
    background-color: #f2f2f2;
    -webkit-transition: 3s;
    transition: 3s;
    color: black;
  }
  /*Main*/
  main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  /*MEdia*/
  .media {
    width: 100%;
    height: 7%;
    background-color: red;
    position: fixed;
    bottom: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .facebook {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: #3333ff;
    height: 100%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .youtube {
    color: white;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .google {
    background-color: #009a00;
    color: white;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 320px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 5px solid black;
    position: fixed;
    width: 100vw;
    background-color: orange;
    z-index: 1;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    list-style-type: none;
  }
  nav ul a {
    width: 50%;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /*Toggle*/
  .navThirdPart {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .toggle {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid yellow;
    border-radius: 50px;
    background: gray;
  }
  .turner {
    width: 40%;
    height: 80%;
    border-radius: 50px;
    background-color: red;
  }
  .on {
    -webkit-transition: 3s;
    transition: 3s;
    -webkit-transform: translateX(140%);
            transform: translateX(140%);
  }
  .off {
    -webkit-transition: 3s;
    transition: 3s;
    -webkit-transform: translateX(17%);
            transform: translateX(17%);
  }
}

@media (min-width: 320px) {
  /*Home*/
  .home {
    margin-top: 10%;
  }
  .home h3 {
    text-align: center;
  }
  .home p {
    font-size: 1.3rem;
  }
  /*IMG on HOME*/
  .church {
    width: 100%;
  }
}

@media (min-width: 320px) {
  .main {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbarMain {
    margin-top: 3%;
    height: 15%;
    width: 100%;
    border: 1px solid red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .words {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid black;
    height: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .books {
    border: 1px solid black;
    height: 10%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .task {
    height: 10%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid black;
  }
  .outletMain {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (min-width: 320px) {
  .vocabulary {
    background-color: white;
    margin-top: 3%;
    height: 90%;
  }
  .addWord {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 15vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input1 {
    text-align: center;
    color: blue;
    font-size: 1.4rem;
    border: none;
    border-bottom: 1.5px solid black;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .input2 {
    text-align: center;
    color: blue;
    font-size: 1.4rem;
    border: none;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .btnAdd {
    border: none;
    color: darkblue;
    font-size: 1.2rem;
    border-top: 1px double black;
    background-color: #9999ff;
  }
  .kit {
    margin-top: 3%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .toolTip {
    width: 80%;
    height: 30%;
    border: 3px solid orange;
    position: absolute;
    z-index: 5;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .saveWord {
    width: 100%;
    list-style-type: none;
    border: 3px solid orange;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aW {
    font-weight: bold;
    border: 1px solid black;
    -webkit-box-flex: 0.5;
        -ms-flex-positive: 0.5;
            flex-grow: 0.5;
  }
  .tW {
    font-weight: bold;
    border: 1px solid black;
    -webkit-box-flex: 1.5;
        -ms-flex-positive: 1.5;
            flex-grow: 1.5;
  }
  .btnAddWord {
    -ms-flex-preferred-size: 50px;
        flex-basis: 50px;
  }
}

.paint {
  width: 100vw;
  height: 80vh;
  position: relative;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.dashboard {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #9a9a9a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#canvas1 {
  border: 3px solid black;
  -o-object-fit: contain;
     object-fit: contain;
}

.colorsToPaintContainer {
  width: 10%;
  border: 1px solid black;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.colorToPaint {
  width: 15px;
  height: 15px;
  border: 1px solid black;
}

.widthLine {
  width: 10%;
  border: 1px solid black;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.widthLine span {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.widthLine button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.widthLine em {
  color: cyan;
  font-weight: bold;
  -webkit-text-stroke: 1px red;
}

.shapes {
  width: 10%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 3px solid green;
}

.suwak {
  border: 1px solid black;
  height: 10%;
  width: 100%;
}

.suwakBtn {
  position: relative;
}
/*# sourceMappingURL=style.css.map */