*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@import './sass/variables';
@import './sass/app';
@import './sass/nav';
@import './sass/home';
@import './sass/main';
@import './sass/vocabulary';


